/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
  font-style: normal;
  font-size: 14px;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
/* main content */
.main-content {
  padding: 88px;
}
/* about-me */
.about-me > p {
  font-size: 14px;
  color: #595959;
  line-height: 1.72;
}
/* sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
  /* padding-top: 40px; */
}
.my-photo {
  margin-top: 40px;
}

/* contact */
.contact-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 40px;
  color: #161d2a;
  line-height: 1.72;
}

.sidebar-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.72;
  color: #161d2a;
  margin-bottom: 8px;
}
.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.72;
  color: #161d2a;
  margin-right: 8px;
}
.contacts-item {
  margin: 0;
}
.contacts-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: #161d2a;
}
.contacts-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: #2979ff;
}
/* Skills  */
.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}
.skills-list-item {
  color: #6d9bf5;
}
.skills-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: #161d2a;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 12px;
  color: #a8a8a8;
}
span {
  color: #6d9bf5;
}
ol > li {
  color: #595959;
  line-height: 1.72;
}
ul > li {
  color: #595959;
  line-height: 1.72;
}
